<div class="galleryIndex">
  {{#if photos}}
  {{#each photos}}
  <div class="image">
    <a href='/gallery/{{id}}'><img src='{{link}}' alt='img'></a>
    <p>{{title}}</p>
  </div>
  {{/each}}
  {{else}}
  <p>No photos to display</p>
  {{/if}}
</div>